.title {
	margin-bottom: 44px;
}

.recipes {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.btn {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

@media (max-width: 992px) {
	.recipes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767px) {
	.recipes {
		grid-template-columns: 1fr;
	}
}